@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: Pretendard;
  background-color: #f9f9f9;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

.app-frame {
  position: relative;
  background: #fff;

  /* 세로 화면 채우기*/
  height: 100dvh;
  height: 100vh;

  /* 가로는 세로 비율(9:16) 기준으로 맞추기, 화면보다 커지면 100vw 제한 */
  width: min(100vw, calc(100dvh * 9 / 16));
  width: min(100vw, calc(100vh * 9 / 16));

  position: relative;
  background: #fff;

   overflow-y: auto; overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */

}

.app-frame::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  /* Safari, iOS, Firefox Android */
  text-size-adjust: 100%;
  /* Chrome, Edge, 표준 */
}
